.container{
    display: flex;
    flex-direction: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.cart{
    display: grid;
    align-items: center;
    grid-gap: 50px;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 100px;
}

.cart li{
    list-style: none;
}

.cart li img{
    height: 80%;
    border-radius: 20px;
}

.cart li:hover {
    transform: scale(1.05);
    transition: 0.4s;
}