.cards {
    display: flex;
    flex-direction: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.cards ul{
    display: grid;
    align-items: center;
    grid-gap: 50px;
    grid-template-columns: repeat(4, 1fr);
    margin: 100px;
}

.cards li {
    list-style: none;
}