.container{
    display: flex;
    flex-direction: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.books{
    display: grid;
    align-items: center;
    grid-gap: 50px;
    grid-template-columns: repeat(4, 1fr);
    margin: 100px;
}

.books li{
    list-style: none;
}

.books li img{
    height: 80%;
    border-radius: 20px;
}